* {
  font-family: 'Segoe UI', sans-serif;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  letter-spacing: 0.2rem;
  background-color: green;
  color: white;
  display: flex;
  top: 0;
  justify-content: center;
  position: fixed;
  width: 100vw;
  padding: 1rem 0;
}

#minha_foto {
  height: 250px;
  display: flex;
  margin-top: 100px;
}
